<!-- templates/partials/comment.html -->

<div class='card' style="border-left-width: 100px; border-right-width: 100px; border-top-width: 20px; border-bottom-width: 20px">
    <div class='card-block'>
        <h4 class='card-title' style='padding-left: 10px; padding-top: 15px'>{{ comment.title }}</h4>
        <h5 class='card-text' style='padding-left: 15px'>By: {{ comment.name }}</h5>
        <p class='card-text'  style='padding-left: 25px'>{{ comment.content }}</p>
        <!-- Delete link -->
        <div class='card-button'>
            <form method='POST' action='/restrooms/{{ inventory._id }}/comments/{{ comment._id }}/delete'>
                <button class='btn btn-link' type='submit'>Delete</button>
            </form>
            <form method='PUT' action='/restrooms/{{ inventory._id }}/comments/{{ comment._id }}/edit'>
                <button class= 'btn btn-link' type="submit">Edit</button>
            </form>
        </div>
    </div>
</div>