<!-- base.html -->
<!doctype html>
<html>
  <title>Goloo</title>
<head>
    <meta charset='utf-8'>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>
</head>
<nav class="navbar navbar-expand-lg navbar-dark static-top" style="background-color: #545454">
    <div class="container">
      <a class="navbar-brand" href="/" style="
      padding-bottom: 0px;
      padding-top: 0px;
      margin-right: 0px;">
        <img src="/static/GO-LOO.png">
      </a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
  
<!-- Page Content -->
<div class="container">
    <h1 class="mt-4">Welcome to GoLoo</h1>
    <p>Reliveing you every step of the way</p>
</div>

{% block content %} 
{% endblock %}
