<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GoLoo - Relieving you every step of the way!</title>
  <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css'>

</head>

<nav class="navbar navbar-expand-lg navbar-gray bg-gray static-top" style="background-color: #d9d9d9;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/logo.jpeg">
    </a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<!-- Page Content -->
<div class="container">
    <h1 class="mt-4">Welcome to GoLoo</h1>
    <p>Relieving you every step of the way!</p>
</div>
