<!--show_all_restrooms.html -->
{% extends 'base.html' %}
{% block content %}
{% for inventory in inventory_list %}
<div class="container" style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="row text-center" style="background-color:lightgrey">
            <div class="col-md-12 text center" style="padding-top: 10px">
                </div class="panel-body">
                    <img src="{{ inventory.pic_path }}" style="width: 150px; height: 100px; padding-bottom: 10px; padding-left: 10px; padding-right: 10px;">
                    <h3 style="padding-right: 10px"><a href="/restrooms/{{ inventory._id }}">{{inventory.restroom_name}}</a></h3>
                    <p1 style="padding-right: 10px"><a>{{inventory.restroom_gender}}</p1></a>
                    <p1 style="padding-right: 10px"><a>${{inventory.restroom_price}}</p1></a>
                </div>
            </div>
    </div>
</div>
{% endfor %}
{% endblock %}